n8n/workflows/01-ticket-created.json
{
  "name": "01 — Ticket erstellt → In-App + Push + E-Mail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ticket",
      "name": "Webhook: Ticket Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "ticket-created"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.email, p.full_name FROM profiles p WHERE p.id = '{{ $json.parent_id }}'",
        "options": {}
      },
      "id": "get-parent",
      "name": "Supabase: Eltern-Daten holen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres (Kita Connect)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "notifications",
        "columns": "user_id, child_id, type, title, body",
        "additionalFields": {}
      },
      "id": "insert-notification",
      "name": "Supabase: In-App Notification schreiben",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [660, 300],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres (Kita Connect)"
        }
      },
      "notes": "Schreibt Notification für Echtzeit-Update im Eltern-Portal via Supabase Realtime"
    },
    {
      "parameters": {
        "fromEmail": "noreply@kita-connect.app",
        "toEmail": "={{ $('Supabase: Eltern-Daten holen').item.json.email }}",
        "subject": "Neue Antwort auf dein Ticket: {{ $('Webhook: Ticket Created').item.json.subject }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:sans-serif;max-width:600px;margin:auto;padding:20px;\">\n<div style=\"background:#2EA89A;padding:20px;border-radius:8px 8px 0 0;\">\n  <h1 style=\"color:white;margin:0;font-size:20px;\">Kita Connect</h1>\n</div>\n<div style=\"background:#f9f9f9;padding:24px;border-radius:0 0 8px 8px;border:1px solid #e0e0e0;\">\n  <p>Hallo {{ $('Supabase: Eltern-Daten holen').item.json.full_name }},</p>\n  <p>dein Ticket wurde von einem Erzieher bearbeitet.</p>\n  <div style=\"background:white;border-left:4px solid #2EA89A;padding:16px;margin:16px 0;border-radius:4px;\">\n    <strong>Betreff:</strong> {{ $('Webhook: Ticket Created').item.json.subject }}<br/>\n    <strong>Nachricht:</strong> {{ $('Webhook: Ticket Created').item.json.body }}\n  </div>\n  <a href=\"{{ $env.PORTAL_URL }}/portal\" style=\"background:#2EA89A;color:white;padding:12px 24px;text-decoration:none;border-radius:6px;display:inline-block;margin-top:8px;\">Im Portal öffnen</a>\n  <p style=\"color:#888;font-size:12px;margin-top:24px;\">Kita Connect · Diese E-Mail wurde automatisch generiert.</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Resend: E-Mail an Elternteil",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 460],
      "credentials": {
        "smtp": {
          "name": "Resend SMTP (Kita Connect)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.VAPID_PUSH_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.VAPID_PRIVATE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Neues Ticket-Update"
            },
            {
              "name": "body",
              "value": "={{ $('Webhook: Ticket Created').item.json.subject }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Webhook: Ticket Created').item.json.parent_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "web-push",
      "name": "Web Push: Notification senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 620],
      "notes": "Web Push via eigene Next.js API Route /api/push/send — diese ruft die Web Push Library auf"
    }
  ],
  "connections": {
    "Webhook: Ticket Created": {
      "main": [
        [
          { "node": "Respond 200", "type": "main", "index": 0 },
          { "node": "Supabase: Eltern-Daten holen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase: Eltern-Daten holen": {
      "main": [
        [
          { "node": "Supabase: In-App Notification schreiben", "type": "main", "index": 0 },
          { "node": "Resend: E-Mail an Elternteil", "type": "main", "index": 0 },
          { "node": "Web Push: Notification senden", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["kita-connect", "tickets"],
  "pinData": {}
}
