n8n/workflows/02-broadcast.json
{
  "name": "02 — Broadcast → Telegram + E-Mail + SMS-Slot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-broadcast",
      "name": "Webhook: Broadcast Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "broadcast-created"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.channels }}",
              "rightValue": "telegram",
              "operator": { "type": "array", "operation": "contains" }
            }
          ]
        }
      },
      "id": "check-telegram",
      "name": "Telegram aktiv?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
        "text": "📢 *{{ $('Webhook: Broadcast Created').item.json.title }}*\n\n{{ $('Webhook: Broadcast Created').item.json.body }}\n\n— Kita Bergfalke",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Telegram: Nachricht posten",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 220],
      "credentials": {
        "telegramApi": {
          "name": "Telegram Bot (Kita Bergfalke)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.channels }}",
              "rightValue": "email",
              "operator": { "type": "array", "operation": "contains" }
            }
          ]
        }
      },
      "id": "check-email",
      "name": "E-Mail aktiv?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 460]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.email, p.full_name FROM profiles p WHERE p.role = 'parent' AND p.email IS NOT NULL",
        "options": {}
      },
      "id": "get-all-parents",
      "name": "Supabase: Alle Eltern-E-Mails holen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [660, 460],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres (Kita Bergfalke)"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "kita@bergfalke.de",
        "toEmail": "={{ $json.email }}",
        "subject": "Mitteilung der Kita Bergfalke: {{ $('Webhook: Broadcast Created').item.json.title }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:sans-serif;max-width:600px;margin:auto;padding:20px;\">\n<div style=\"background:#2EA89A;padding:20px;border-radius:8px 8px 0 0;\">\n  <h1 style=\"color:white;margin:0;font-size:20px;\">📢 Kita Bergfalke — Wichtige Mitteilung</h1>\n</div>\n<div style=\"background:#f9f9f9;padding:24px;border-radius:0 0 8px 8px;border:1px solid #e0e0e0;\">\n  <p>Hallo {{ $json.full_name }},</p>\n  <h2 style=\"color:#2EA89A;\">{{ $('Webhook: Broadcast Created').item.json.title }}</h2>\n  <p style=\"line-height:1.6;\">{{ $('Webhook: Broadcast Created').item.json.body }}</p>\n  <p style=\"color:#888;font-size:12px;margin-top:24px;\">Kita Bergfalke · Berlin · Diese Nachricht wurde an alle Eltern gesendet.</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "send-broadcast-email",
      "name": "Resend: Broadcast E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 460],
      "credentials": {
        "smtp": {
          "name": "Resend SMTP (Kita Bergfalke)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.channels }}",
              "rightValue": "sms",
              "operator": { "type": "array", "operation": "contains" }
            }
          ]
        }
      },
      "id": "check-sms",
      "name": "SMS aktiv?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 620]
    },
    {
      "parameters": {
        "jsCode": "// SMS-Slot: Anbieter noch nicht konfiguriert\n// Sobald Twilio oder Sinch ausgewählt: hier den HTTP-Request ergänzen\n// Payload-Beispiel:\n// POST https://api.twilio.com/2010-04-01/Accounts/{SID}/Messages.json\n// Body: To=+49..., From=+49..., Body=<text>\n\nconst data = $input.all()[0].json;\nconsole.log('SMS-Slot ausgelöst für:', data.title);\nconsole.log('Channels:', data.channels);\n\nreturn [{ json: { status: 'sms_slot_placeholder', title: data.title } }];"
      },
      "id": "sms-slot",
      "name": "SMS-Slot (Anbieter noch offen)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 620],
      "notes": "Hier Twilio/Sinch HTTP-Request einfügen sobald Anbieter feststeht"
    }
  ],
  "connections": {
    "Webhook: Broadcast Created": {
      "main": [
        [
          { "node": "Respond 200", "type": "main", "index": 0 },
          { "node": "Telegram aktiv?", "type": "main", "index": 0 },
          { "node": "E-Mail aktiv?", "type": "main", "index": 0 },
          { "node": "SMS aktiv?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Telegram aktiv?": {
      "main": [
        [{ "node": "Telegram: Nachricht posten", "type": "main", "index": 0 }],
        []
      ]
    },
    "E-Mail aktiv?": {
      "main": [
        [{ "node": "Supabase: Alle Eltern-E-Mails holen", "type": "main", "index": 0 }],
        []
      ]
    },
    "Supabase: Alle Eltern-E-Mails holen": {
      "main": [
        [{ "node": "Resend: Broadcast E-Mail senden", "type": "main", "index": 0 }]
      ]
    },
    "SMS aktiv?": {
      "main": [
        [{ "node": "SMS-Slot (Anbieter noch offen)", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["kita-bergfalke", "broadcast"],
  "pinData": {}
}
